<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="TaskLists.testSearchFirstPage"/>
      <class name="TaskLists.test_after_search_first_page"/>
      <class name="TaskLists.home_page_test"/>
      <class name="TaskLists.testLandingPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
